{% extends 'base.html.twig' %}

{% set membre_lastName = membre.getNomMembre() %}
{% set membre_firstName = membre.getPrnmMembre() %}
{% set membre_avatarFilename = membre.getAvatarFilename() %}

{% block title %}Suppression de {{ membre_firstName }} {{ membre_lastName }}{% endblock %}

{% block nav_avatar %}
    {% if membre_avatarFilename %}
        <img class="rounded-full w-[38px] aspect-square" src="{{ asset('img/avatars/' ~ membre_avatarFilename) }}" id="img" alt="Image de profil personnalisee">
    {% else %}
        <div class="text-cuiGrayDark bg-cuiOrange hover:bg-cuiOrange/90 font-medium rounded-full text-sm px-2.5 py-[10px] text-center cursor-pointer">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
            </svg>
        </div>
    {% endif %}
{% endblock %}

{% block body %}

    <section id="Verification" class="flex flex-col bg-cuiGray rounded-lg p-6 shadow-lg w-4/5 max-w-4xl">

        {{ form_start(form) }}

        <div class="flex md:flex-row flex-col text-xl md:text-2xl text-white font-bold leading-tight tracking-tight pb-6 text-center">
            <p id="Message">
                Etes-vous sûr de vouloir supprimer le profil de &nbsp
            </p>
            <div class="flex flex-row justify-center">
                <div class="text-red-500">{{ membre_firstName }} {{ membre_lastName|capitalize }} &nbsp</div>
                <p> ?</p>
            </div>
        </div>
        <div class="flex md:flex-row flex-col-reverse gap-5">
            {{ form_widget(form.supprimer, {'attr': {'class': 'flex text-white h-10 bg-red-600 hover:bg-red-600/90 font-bold rounded-lg text-sm px-5 py-2.5 justify-center md:max-w-fit'}}) }}
            {{ form_widget(form.annuler, {'attr': {'class': 'flex text-white h-10 bg-cuiGrayLight hover:bg-cuiGrayLight/90 font-bold rounded-lg text-sm px-5 py-2.5 justify-center w-full'}}) }}
        </div>

        {{ form_end(form) }}

    </section>

{% endblock %}

