{% extends 'base.html.twig' %}

{% block title %}Cuis'inov{% endblock %}

{% block body %}
    {% if trending is not empty %}
    <div class="grow items-center min-h-screen max-w-full flex flex-col p-2.5" id="main">
        <div class="flex align-middle place-content-around w-full h-64" id="slot_trending">
            <div class="relative border-2 border-black bg-BlackCuis rounded-2xl m-5 overflow-hidden w-4/5 min-h-64" id="trending">
                <a class="no-underline text-black flex h-full" href="{{ path('app_details', { id: trending.id }) }}">
                    <div class="flex flex-col pl-16 p-2 place-content-around z-20 w-full place-items-start" id="misc_trending">
                        <span class="text-lg text-LightGrayCuis italic">A la une</span>
                        <span class="align-middle text-cuiOrange text-4xl font-bold">{{ trending.nomRecette }}</span>
                        <span> {# Bloc svg pour afficher les notes #}
                                <div class="flex items-center" title="{{ trending.noteMoyenne }} / 5">
                                    {% for i in range(1, 5) %}
                                        {% set starColor = trending.noteMoyenne >= i ? 'text-yellow-300' : 'text-gray-500' %}
                                        <svg class="w-6 h-6 me-1 {{ starColor }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                        </svg>
                                    {% endfor %}
                                </div>
                            </span>
                        <div class="flex items-center gap-8 max-[1400px]:flex-col">
                            <div class="flex gap-2">
                                {# Calculer du total des minutes #}
                                {% set total_minutes = trending.tempsRecette|date('H') * 60 + trending.tempsRecette|date('i') %}
                                <svg class="w-6 h-6 text-yellow-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                                </svg>
                                <span class="text-white">{{ total_minutes }} minutes</span>
                            </div>
                            <span> {# Bloc svg pour afficher la difficulté #}
                                {% set  difficultyName = ['Facile', 'Moyen', 'Difficile'] %}
                                    <div title="{{ difficultyName[trending.diffRecette-1] }}" class="flex items-center">
                                        {% for i in range(1, 3) %}
                                            {% set flameColor = trending.diffRecette >= i ? 'text-yellow-300' : 'text-gray-500' %}
                                            <svg class="w-6 h-6 dark:text-white {{ flameColor }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
                                              <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                </span>
                        </div>
                    </div>
                    <img class="absolute rounded-2xl w-[70%] top-1/2 left-[65%] transform -translate-x-1/2 -translate-y-1/4 object-cover
                max-[850px]:w-[100%] max-[850px]:top-[30%] max-[850px]:left-[50%]"
                         src="{{ asset('img/recettes/' ~ trending.id ~ '.png') }}" id="img">
                </a>
                <div class="absolute top-0 left-0 bg-gradient-to-r from-black  to-transparent rounded-2xl p-3 w-full h-full z-10" id="gradient"></div>
            </div>
        </div>

        <div class="h-full w-4/5">
            <h1 class="top-50 left-2 text-white text-2xl font-bold py-5">Catalogue :</h1>
        </div>

        <div class="left-0 w-4/5" id="bloc_list">
            <ul class="flex flex-wrap justify-around m-1 list-none">
                {% for recette in recettes %}
                    <li class="relative m-1 p-3 bg-cuiGray bg-opacity-100 rounded-2xl">
                        <a class="no-underline text-black" href="{{ path('app_details', { id: recette.id }) }}">
                            <div class="flex flex-col items-center text-white h-full place-content-around">
                                <img class="object-cover rounded-lg w-64 h-64" title="{{ recette.description }}" src="{{ asset('img/recettes/' ~ recette.id ~ '.png') }}">
                                <span class="text-xl w-64 text-center">{{ recette.nomRecette | capitalize }}</span>
                                <span> {# Bloc svg pour afficher les notes #}
                                <div class="flex items-center" title="{{ recette.noteMoyenne }} / 5">
                                    {% for i in range(1, 5) %}
                                        {% set starColor = recette.noteMoyenne >= i ? 'text-yellow-300' : 'text-gray-500' %}
                                        <svg class="w-4 h-4 me-1 {{ starColor }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                        </svg>
                                    {% endfor %}
                                </div>
                            </span>
                                <div class="flex items-center gap-3" id="misc">
                                    <div class="flex gap-2">
                                        {# Calculer du total des minutes #}
                                        {% set total_minutes = recette.tempsRecette|date('H') * 60 + recette.tempsRecette|date('i') %}
                                        <svg class="w-6 h-6 text-yellow-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                                        </svg>
                                        <span>{{ total_minutes }} minutes</span>
                                    </div>
                                    <span>|</span>
                                    <span> {# Bloc svg pour afficher la difficulté #}
                                    {% set  difficultyName = ['Facile', 'Moyen', 'Difficile'] %}
                                    <div title="{{ difficultyName[recette.diffRecette-1] }}" class="flex items-center">
                                        {% for i in range(1, 3) %}
                                            {% set flameColor = recette.diffRecette >= i ? 'text-yellow-300' : 'text-gray-500' %}
                                            <svg class="w-6 h-6 dark:text-white {{ flameColor }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
                                              <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                </span>
                                </div>
                            </div>
                        </a>
                        {% if is_granted('IS_AUTHENTICATED') %}
                        <a id="container" class="absolute top-4 right-4 m-2" href="{{ path('app_recette_update', {'fav': recette.fav, 'idRecette': recette.id}) }}">
                            <button id="button">
                                {% if recette.fav %}
                                    <svg id="hearth" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 21 19">
                                        <path id="outline" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
                                    </svg>
                                {% else %}
                                    <svg id="hearth" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
                                        <path id="outline" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
                                    </svg>
                                {% endif %}
                            </button>
                        </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        let buttons = document.querySelectorAll('#button');

        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                let recipeContainer = button.closest('#container');
                let hearth = recipeContainer.querySelector('#hearth');
                let hearthOutline = recipeContainer.querySelector('#outline');

                const isFav = hearth.getAttribute('fill') === 'red';

                if (!isFav) {
                    hearth.setAttribute('fill', 'red');
                    hearthOutline.setAttribute('stroke', 'none');
                } else {
                    hearth.setAttribute('fill', 'none');
                    hearthOutline.setAttribute('stroke', 'currentColor');
                }
            })
        });
    </script>
    {% else %}
        <div class="min-h-screen min-w-full flex flex-col items-center justify-center bg-red-500 z-10" id="background-alert">
            <div class="bg-white rounded-full flex items-center justify-center p-2.5 w-64 h-64" id="logo">
                <svg class="w-56 h-56 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <g stroke="rgb(240 82 82)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z"/>
                        <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </g>
                </svg>
            </div>
            <p class="text-white text-[4rem] p-2.5">
                Le site est actuellement indisponible.
            </p>
            <p class="text-white text-[3rem] italic p-2.5">
                Veuillez réessayer ultérieurement.
            </p>
        </div>
    {% endif %}
{% endblock %}
